@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Normal.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Black.woff');
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-BlackItalic.woff');
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Light.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-Thin.woff');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeueCyr';
    src: url('Res/fonts/HelveticaNeueCyr-ThinItalic.woff');
    font-weight: 200;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    font-family: HelveticaNeueCyr;
    background-color: #151515;
    line-height: 1;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow-y: scroll;
}

/* Шапка */
header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: auto;
    z-index: 10;
    transition: all .5s;
    height: 7vh;
}

.header_opened {
    /* background-color: #fff; */
    height: auto;
}

.headerHidden {
    display: none;
}


.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 10%;
    z-index: 11;
    padding-top: 2vh;
}

.nav-header_opened {

}

.nav-button {
    padding-top: 7px;
}

.nav-header :last-child {
    padding-top: 0px;
}

.nav-header .nav-button a{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    stroke: #fff;
    flex: 0 1 auto;
    text-decoration: none;
    letter-spacing: 0.04em;
    transition: all .4s;
}

.nav-headerInverse .nav-button a{
    color: #000;
    stroke: #000;
}

.nav-button:first-of-type a{
    font-weight: normal;
    margin-left: 10vw;
}


.nav-button:last-of-type a{
    margin-right: 5vw;
}

.nav-button +  .nav-button {
    padding-left: 25px;
}

.nav-header img {
    max-width: 26px;
    max-height: 26px;
}

.nav-button__left {
    flex-grow: 1;
    -webkit-transform: translateY(-120vh);
    transform: translateY(-120vh);
    transition: all 1s;
}

.nav-button__left_opened {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
}

.header__bottom {
    display: flex;   /* /flex*/
    flex-basis: 80%;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 15vh;
    background-color: #fff;
    border-bottom: 1px #000 solid;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    padding-top: 20vh;
    transition: all .8s ease-out;
}

.header__bottom_opened {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
}

.header-bottom__left {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10vh;
    margin-left: 10vw ;
    flex-basis: 25%;
}

.hheader-bottom__left-locations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-bottom-left-locations__loc {
    flex-basis: 45%;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #010101;
    padding: 5px;
}

.header-bottom-left-locations__loc h1 {
    font-weight: normal;
    letter-spacing: 0.04em;
}

.header-bottom-left-locations__loc h2 {
    font-weight: 300;
    color: #7D7D7D;
    letter-spacing: 0.04em;
}


.header-bottom__right {
    flex-basis: 75%;
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-menu a {
    color: #000;
    font-size: 3.75vw;
    text-decoration: none;
    font-weight: 200;
}

.nav-menu a + a {
    margin-top: 2vh;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width:5.5;
    stroke-linecap:round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;

}

.ham4.active .bottom {
    stroke-dashoffset: -68px;

}

.menu-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.menu-button:focus {
    border: 0px currentColor;
    outline: 0px;
}

.bg-blur {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.7);
    /* backdrop-filter: blur(4px); */
    z-index: 9;
}

.bg-blur_opened {
    display: block;

}
/* /Шапка */

.contact-us-block {
    display: flex;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    flex-direction: column;
    justify-content: center;
    width: 498px;
    height: 141px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 25px 32px;
    color: #fff;
    z-index: 4;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    transition: right .8s;
}

.contact-us-blockClosed {
    right: calc(-498px - 10vw);
}

.contact-us-block>div{
    display: flex;
    height: 32px;
    flex-direction: row;
    justify-content: space-between;
}

.contact-us-blockTop {
    border-bottom: #ffffff solid 1px;
    align-items: flex-end;
    padding-bottom: 6px;
}

.contact-us-blockBottom {
    padding-top:  8px;
}

.contact-us-blockBottom div:last-of-type {
    padding-right: 16px;
}

.contact-us-blockBottom a {
    text-decoration: none;
    color: #fff;
}

.contact-us-blockBottomRight{
    display: flex;
    flex-direction: column;
}

.contact-us-blockBottomRight span + span {
    padding-top: 2px;
}

.home {
    margin-top: calc(16vh + 30px);
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100%;
    z-index: 5;
    background-color: #151515;
}

.homeLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 62%;
    background: rgba(0, 0, 0, 1);
    z-index: 7;
}

.home-left__text-outer {
    overflow: hidden;
}


.homeLeftText {
    margin: 0px 20%;
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: .7s ease-in-out homeLeftTextAnim;
}
@keyframes homeLeftTextAnim {
    0% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0; }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; } 
}

.homeLeft h1 {
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    line-height: 4vw;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.homeLeft h2 {
    margin-top: 2.2vw;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8vw;
    line-height: 0.8vw;
    letter-spacing: 0.04em;
    color: #fff;
}

.homeLeft h3 {
    margin-left: 8vw;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #C4C4C4;
}

.home__end {
    background-color: #fff;
    height: 10vh;
    width: 100%;
    z-index: 5;
}

.home__end div {
    background-color: #000;
    height: 100%;
    width: 62%;
}

.marqueeBG {
    position: absolute;
    top: 42vh;
    overflow: hidden;
    z-index: 6;
    width:100%;
    white-space:nowrap;
}

.marqueeBG span {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-size: 22vw;
    line-height: 32.5vw;
    color: #EEA25C;
    display:inline-block;
    transform: translateX(-19%);
    /* padding-left:100%;
    -webkit-animation: marquee 15s infinite linear;
    animation: marquee 15s infinite linear;
    }
    @-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
    }
    @keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)} */
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    background-color: #fff;
    z-index: 4;
}

.about h1 {
    display: none;
}


.about h2 {
    justify-content: center;
    font-family: HelveticaNeueCyr;
    font-weight: 250;
    font-style: normal;
    font-size: 3.9vw;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.08em;
    margin: 0px 19.8%;
    color: #000000;
}

.about h3 {
    margin-left: 8vw;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #010101;
    margin-bottom: 10vh;
}

.scrollspace {
    background-color: #010101;
    display: flex;
    flex-direction: column;
    height: calc(100vh + 200vw + 1000px);
}

.scrollspacescrolled {
    flex-direction: column-reverse;
}

.bg-title {
    position: absolute;
    margin-top: 5vh;
    font-size: 25vw;
    color: #1B1B1E;
    font-weight: 500;
    letter-spacing: 0.04em;
    display: inline-block;
    white-space: nowrap;
    z-index: 4;
}

.card {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    justify-content: flex-start;
}

.cardHold {
    position: fixed;
    top: 0px;
    left: 0px;
}

.card::-webkit-scrollbar {
    display: none;
}

.card--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    min-width: 100vw;
    height: 40vh;
    margin:  5px auto;
    overflow: hidden;
    margin-top: 10vh;
}


.services {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.services__left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #101010; */
    padding: 0px 13%;
}

.services__left h1 {
    font-style: normal;
    font-weight: 200;
    font-size: 3.75vw;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.services__left h2 {
    margin-top: 30px;
    font-size: 0.75vw;
    line-height: 1.5;
    font-weight: 300;
    color: #C4C4C4;
    max-width: 24vw;
}

.services__left ul {
    margin-top: 30px;
}

.services__left li {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    font-size: .7vw;
    line-height: 2.9;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #C4C4C4;
}

.services__right {
    flex-basis: 50%;
    transform: scale(.75);
}

.services__rightItem {
    margin:0%;
    background-clip: border-box;
    height: 100%;
    width: 100%;
    max-width: 50vw;
    overflow: hidden;
}

.services__rightItem video {
    transform: translate(0,-30%);
    /* max-height:100vh; */
    /* max-width: 50vw; */
}

.our-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vw;
    padding: 10px 0px;
    background-color: #fff;
    z-index: 1;
}

.our-stack__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.our-stack__item + .our-stack__item {
    margin-top: 8.3vh;
}

.our-stack__item h1 {
    font-weight: 200;
    font-size: 3.9vw;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
    padding: 0px 20% 0px 20%;
}

.our-stack__item h2 {
    font-weight: 200;
    font-size: 1.25vw;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 0px 28% 0px 28%;
}

.our-stack__item a {
    font-weight: 200;
    font-size: 2.5vw;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding-bottom:10px ;
    border-bottom: 1px solid black;
    color: #000000;
}

.our-stack__item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 75%;
    padding: 1%;
}

.our-stack-item__list-item {
    flex-basis: 1;
    font-weight: 300;
    font-size: .7vw;
    line-height: 25px;
    letter-spacing: 0.06em;
    color: #000000;
}

.our-stack__item-list-item-num {
    display: inline;
    font-weight: 200;
    font-size: .62vw;
    line-height: 1.8;
    letter-spacing: -0.04em;
    color: #000000;
}

.our-stack__item-list-item-dir {
    letter-spacing: 0.04em;
    padding: 12px 0px 25px 0px;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 1;
    color: #000000;
}

.our-vacancy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding: 12%;
    background-color: #151515;
    z-index: 1;
}

.our-vacancy_top {
    z-index: 2;
}

.our-vacancy_top li {
    font-weight: 200;
    font-size: 2.5vw;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.8;
    
}

.our-vacancy_top li:first-of-type {
    font-weight: 300;
}

.our-vacancy__bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: hidden;
    z-index: 6;
}
.our-vacancy__bottom-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
}
.our-vacancy__bottom-header {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 21px;
    padding: 5px;
    margin-bottom: 14px;
    color: #fff
}
.our-vacancy__bottom-description {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
}
.our-vacancy__bottom-description-duties{
    flex-basis: 45%;
}
.our-vacancy__bottom-description-requirements{
    flex-basis: 28%;
}
.our-vacancy__bottom-description-conditions{
    flex-basis: 27%;
}
.c-our-vacancy__bottom-description-paddings {
    padding: 10px;
}
.our-vacancy__c-li-numbering {
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    margin: 17px 0px 17px 0px;
}

.our-vacancy__c-li-header {
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.04em;
    margin-bottom: 29px;
    color: #fff
}

.our-vacancy__bottom-selection {
    display: flex;
    justify-content: center;
}

.our-vacancy__bottom-selector {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    padding: 0px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.our-vacancy__bottom-selector_selected {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.our-vacancy__bottom-selector+.our-vacancy__bottom-selector{
    margin-left: 35px;
}

/* 
.our-vacancy__bottom-item {
    flex-basis: 45%;
    z-index: 2;
}
.our-vacancy__bottom-item li {
    font-style: thin;
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.our-vacancy__bottom-item li:first-of-type {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 1.25VW;
    line-height: 1.05;
} */

.our-vacancyResponseto li {
    font-weight: 900;
    font-size: .7VW;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.our-vacancyResponseto li:last-of-type{
    font-weight: 200;
}

.our-vacancyResponseto a {
    text-decoration: none;
    display: flex;

}

.our-vacancyResponseto div {
    border-top: 1px solid #fff;
}

footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.footer__top{
    margin: 35vh 35vw 0px 10vw;
    z-index: 2;
}

.footer__top li {
    font-weight: 300;
    font-size: 4.3vw;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #000000;
}

.footer__top li:first-of-type {
    font-weight: 200;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 10vh;
    margin-top: 10vh;
    z-index: 2;
}

.footer-bottom__left {
    display: flex;
    flex-basis: 35%;
    margin-left: 10vw;
}

.footer-bottom-left__locations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 50vh;
}

.footer-bottom-left__location {
    flex-grow: 0;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 5px;
    margin-bottom: 50px;
}

.footer-bottom-left__location h1 {
    font-weight: 500;
}

.footer-bottom-left__location h2 {
    font-weight: 300;
    color: #595959;
}


.footer-bottom__right {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-bottom__right li {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #000000;
}

.footer-bottom__right li:first-of-type {
    font-weight: 200;
}


.our-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #010101;
    z-index: 1;
    height: 102vh;
}

.slider {
    width: 100vw;
    flex-basis: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: hidden;
}

.slider-item {
    flex-shrink: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30vw;
    width: 40vw;
    min-height: 40vw;
    transition: margin 1s;
}

.slider-item + .slider-item {
    margin-left: 10vw;
}

.slider-item:nth-child(2) {
    margin-left: 30vw;
}

.slider-item_move {
    margin: 0 0 0 -40vw;
}

.slider-item h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;
    letter-spacing: 0.04em;
    color: #C4C4C4;
    margin-bottom: 25px;
}

.slider-item img {
    width: 40vw;
    height: 40vw;
    background-size: cover;
}

.our-works__right-bg {
    position: absolute;
    right: 0px;
    width: 20vw;
    height: 100%;
    background: linear-gradient(269.86deg, #000000 6.84%, rgba(14, 14, 14, 0.809374) 33.79%, rgba(40, 40, 40, 0.629537) 57.17%, rgba(41, 41, 41, 0.350512) 77.45%, rgba(121, 121, 121, 0) 99.74%);
}

.our-works__buttons {
    flex-basis: 10%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #000;
    z-index: 1;
}

.our-works__button {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #272727;
    border: none;
    padding: 0px;
}

.our-works__button + .our-works__button {
    margin-left: 10vw;
}

.our-works__button img {
    transform:  scale(.5) translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.Box {
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 1;
    font-size: 50px;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.04em;
    border-radius: 1px;
    transition:  left .3s, top .3s, opacity 1s;
}

.BoxShow {
    opacity: 1;
}


.helloBox {
    background-color: #E1C80E;
    width: 340px;
    height: 477.19px;
}

.Box_front-end {    
    width: 300px;
    height: 300px;
    background-color: rgb(43, 204, 91);
}

.BoxBackEnd {
    width: 340px;
    height: 340px;
    background-color: #2B6CCC;
}

.start-project {
    display: none;
    position: fixed;
    max-height: 0px;
    max-width: 0px;
    background: rgba(136, 136, 136, 0.5);
    z-index: 0;
}

.startProject_opened{
    display: inherit;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.start-project-form__close-button {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 25px;
}

.start-project-form__close-button a {
    color: #fff;
    font-weight: 500;
}

.start-project__form {
    position: fixed;
    display: flex;
    top: 5%;
    left: 5%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 16;
    width: 80%;
    padding: 5vh 5vw;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow-y: scroll;
}

.start-project__form::-webkit-scrollbar {
    display: none;}

.start-project-form__item {
    display: flex;
    flex-direction: column;
}

.start-project-form__item-left {
    flex-basis: 35%;
    flex-shrink: 0;
}

.start-project-form__item-right {
    flex-basis: 65%;
    flex-shrink: 0;
}

.start-project-form__item-right label{
    cursor: pointer;
}

.start-project-form__input{
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 40px;
    max-height: 120px;
    -moz-appearance: none;
    resize: none;
    font-family: HelveticaNeueCyr;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
}

.start-project-form__input::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
	border-radius: 10px;
    background-color: none;
}

.start-project-form__input::-webkit-scrollbar {
	width: 10px;
    background-color: none;
}

.start-project-form__input::-webkit-scrollbar-thumb {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.6);
    box-shadow: inset 0 0 3px rgba(0,0,0,.6);
    background-color: #555;
}


.shortInput {
    width: 50%;
    height: 20px;
}

.start-project-form__input:-moz-placeholder {
    color: #FFFFFF;
    opacity: 0.3;
}
.start-project-form__input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.3;
}

.start-project-form__item-right div{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.start-project-form__item-right div:last-of-type{
    border: none;
    padding: 1px;
}

.start-project-form__item-left label + label {
    margin-top: 45px;
}
.start-project-form__item-right div + div {
    margin-top: 45px;
}
.start-project-form__item-bottom {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.start-project label {
    font-weight: 300;
    font-size: 18px;
    line-height: 60px;
    color: rgba(170, 170, 170, 0.7);
    transition: all .5s;

}

.start-project .start-project-form__heading {
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: #fff;
}

.start-project input[type="radio"] {
    display: none;
}

.start-project input[type="checkbox"] {
    display: none;
}

.start-project input[type="checkbox"]:checked + Label {
    color: #fff;
}

.start-project input[type="radio"]:checked + Label {
    color: #fff;
}

.start-project-form__item-bottom div{
    flex-basis: 35%;
    margin-top: 100px;
}

.start-project-form__item-bottom div:last-of-type {
    margin-top: 0px;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.contacts input + input {
    margin-top: 44px;
}

.start-project-form__item-button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-top: 30px;
}

.start-project__form button {
    border: none;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}

.mob {
    display: none;
    margin: 5vh 10vw;
    justify-content: space-between;
}

.mob h3 {
    letter-spacing: 0.04em;
    color: #727272;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 700px) and (max-width: 991px) {
    
}

/* Landscape phones and portrait tablets */
@media (max-width: 699px) {
    .mob {
        display: flex;
    }
    .home {
        flex-direction:column-reverse;
        margin-top: 0px;
        height: 100vh;
    }

    .homeLeft {
        background: #121212;
        flex-basis: 40%;
    }

    .homeLeftText {
        margin: 0px 10%;
    }

    .homeLeft h1 {
        font-size: 8vw;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    .homeLeft h2 {
        display: none;
    }

    .marqueeBG {
        position: inherit;
        flex-basis: 33%;
    }
    .marqueeBG span {
        transform: translateX(-2%);
        font-size: 29vw;
        line-height: 1;
    }
    .nnav-button_left_opened {
        display: none;
    }
    .header__bottom {
        flex-direction: column-reverse;
        padding-bottom: 0px;
    }
    .header-bottom__left {
        flex-direction: row
    }
    .nav-menu a {
        font-size: 8vw;
    }

    .home__end {
        opacity: 0;
        height: 0px;
    }

    .about h2 {
        text-align: left;
        font-size: 4.05vw;
        line-height: 1.8;
    }

    .about h1 {
        font-weight: 200;
        font-size: 10.3vw;
        line-height: 1.1;
        letter-spacing: 0.04em;
        margin: 5vh 19.8%;
        color: #000000;
        opacity: 0.8;
        display: inline;
    }
    .scrollspace{
        flex-direction: column;
        height: auto;
    }

    .card {
        flex-direction: column;
        height: auto;
    }
    .services {
        flex-direction: column;
        height: 150vh;
    }
    .services__left {
        flex-basis: 100vh;
        padding: 0px 19% 0px 10%;
    }
    .services__right {
        flex-basis: 50vh;
    }
    .services__left h1 {
        font-size: 30px;
    }

    .services__left h2 {
        font-size: 14px;
        max-width: 85vw;
    }
    .services__left li {
        font-size: 12px;
    }
    .services__right {
        display: flex;
        flex-direction: row-reverse;
    }

    .services__rightItem {
        max-width: 90vw;
        max-height: 50vh;
    }

    .slider {
        flex-basis: 70%;
    }

    .slider-item {
        flex-direction: column-reverse;
        margin-left: 30vw;
        width: 72vw;
        min-height: 72vw;
        transition: margin 1s;
    }

    .slider-item + .slider-item {
        margin-left: 14vw;
    }

    .slider-item_move {
        margin: 0 0 0 -72vw;
    }

    .slider-item h2 {
        margin-top: 25px;
    }

    .slider-item img {
        width: 72vw;
        height: 72vw;
    }

    .our-stack {
        flex-direction: column;
        min-height: auto;
        padding: 10vh 0px;
    }

    .our-stack__item + .our-stack__item {
        margin-top: 8.3vh;
    }

    .our-stack__item h1 {
        font-size: 11vw;
        text-align: left;
        padding: 0px 10% 0px 10%;
    }

    .our-stack__item h2 {
        font-size: 3.3vw;
        line-height: 2.1;
        padding: 0px 13%;
    }

    .our-stack__item a {
        font-size: 6.6vw;
        border-bottom: 1px solid black;
    }

    .our-stack__item-list {
        flex-direction: column;
        border-top: none;
        border-bottom: none;
    }

    .our-stack-item__list-item li:not(.our-stack__item-list-item-num):not(.our-stack__item-list-item-dir) {
        display: none;
    }

    .our-stack__item-list-item-num {
        font-size: 3.3vw;
        line-height: 1.8;
    }

    .our-stack__item-list-item-dir {
        padding: 12px 0px 25px 0px;
        font-size: 6.6vw;
        border-top: 1px solid #808080;
    }

    .footer__top{
        margin: 15vh 10vw 0px 10vw;
    }

    .footer__top li {
        font-size: 8.3vw;
    }

    .footer__bottom {
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-bottom-left__locations {
        margin-right: 33%;
    }
    .footer-bottom__right {
        margin-left: 10vw;
    }

    .contact-us-block {/* хуй*/
        display: none;
    } /* хуй*/
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
